src/main/resources/nl/clockwork/ebms/admin/wsdl/cpa.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CPAServiceService" targetNamespace="http://www.clockwork.nl/cpa/2.0" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.clockwork.nl/cpa/2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.clockwork.nl/cpa/2.0" xmlns:tns="http://www.clockwork.nl/cpa/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DeleteCPA" type="tns:DeleteCPA"/>
<xs:element name="DeleteCPAResponse" type="tns:DeleteCPAResponse"/>
<xs:element name="GetCPA" type="tns:GetCPA"/>
<xs:element name="GetCPAIds" type="tns:GetCPAIds"/>
<xs:element name="GetCPAIdsResponse" type="tns:GetCPAIdsResponse"/>
<xs:element name="GetCPAResponse" type="tns:GetCPAResponse"/>
<xs:element name="InsertCPA" type="tns:InsertCPA"/>
<xs:element name="InsertCPAResponse" type="tns:InsertCPAResponse"/>
<xs:element name="ValidateCPA" type="tns:ValidateCPA"/>
<xs:element name="ValidateCPAResponse" type="tns:ValidateCPAResponse"/>
<xs:complexType name="GetCPA">
<xs:sequence>
<xs:element minOccurs="0" name="CPAId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCPAResponse">
<xs:sequence>
<xs:element minOccurs="0" name="CPA" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteCPA">
<xs:sequence>
<xs:element minOccurs="0" name="CPAId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DeleteCPAResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="ValidateCPA">
<xs:sequence>
<xs:element minOccurs="0" name="CPA" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ValidateCPAResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="InsertCPA">
<xs:sequence>
<xs:element minOccurs="0" name="CPA" type="xs:string"/>
<xs:element minOccurs="0" name="Overwrite" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InsertCPAResponse">
<xs:sequence>
<xs:element minOccurs="0" name="CPAId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GetCPAIds">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="GetCPAIdsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="CPAIds" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="CPAServiceException" type="tns:CPAServiceException"/>
<xs:complexType name="CPAServiceException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ValidateCPA">
    <wsdl:part element="tns:ValidateCPA" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsertCPAResponse">
    <wsdl:part element="tns:InsertCPAResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsertCPA">
    <wsdl:part element="tns:InsertCPA" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCPA">
    <wsdl:part element="tns:GetCPA" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidateCPAResponse">
    <wsdl:part element="tns:ValidateCPAResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCPAResponse">
    <wsdl:part element="tns:GetCPAResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCPAIds">
    <wsdl:part element="tns:GetCPAIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCPAIdsResponse">
    <wsdl:part element="tns:GetCPAIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteCPAResponse">
    <wsdl:part element="tns:DeleteCPAResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteCPA">
    <wsdl:part element="tns:DeleteCPA" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CPAServiceException">
    <wsdl:part element="tns:CPAServiceException" name="CPAServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CPAService">
    <wsdl:operation name="GetCPA">
      <wsdl:input message="tns:GetCPA" name="GetCPA">
    </wsdl:input>
      <wsdl:output message="tns:GetCPAResponse" name="GetCPAResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CPAServiceException" name="CPAServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCPA">
      <wsdl:input message="tns:DeleteCPA" name="DeleteCPA">
    </wsdl:input>
      <wsdl:output message="tns:DeleteCPAResponse" name="DeleteCPAResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CPAServiceException" name="CPAServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateCPA">
      <wsdl:input message="tns:ValidateCPA" name="ValidateCPA">
    </wsdl:input>
      <wsdl:output message="tns:ValidateCPAResponse" name="ValidateCPAResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CPAServiceException" name="CPAServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCPA">
      <wsdl:input message="tns:InsertCPA" name="InsertCPA">
    </wsdl:input>
      <wsdl:output message="tns:InsertCPAResponse" name="InsertCPAResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CPAServiceException" name="CPAServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCPAIds">
      <wsdl:input message="tns:GetCPAIds" name="GetCPAIds">
    </wsdl:input>
      <wsdl:output message="tns:GetCPAIdsResponse" name="GetCPAIdsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CPAServiceException" name="CPAServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CPAServiceServiceSoapBinding" type="tns:CPAService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCPA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCPA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCPAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CPAServiceException">
        <soap:fault name="CPAServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCPA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteCPA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteCPAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CPAServiceException">
        <soap:fault name="CPAServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateCPA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ValidateCPA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ValidateCPAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CPAServiceException">
        <soap:fault name="CPAServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCPA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="InsertCPA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="InsertCPAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CPAServiceException">
        <soap:fault name="CPAServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCPAIds">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCPAIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCPAIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CPAServiceException">
        <soap:fault name="CPAServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CPAServiceService">
    <wsdl:port binding="tns:CPAServiceServiceSoapBinding" name="CPAServicePort">
      <soap:address location="http://localhost:8089/adapter/cpa"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>